@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="home" asp-action="ShowCharacter">
        <input type="text" name="num"/>
    <input class="btn-lg btn-dark text-white" type="submit" />
    </form>
</div>
