
@{
    ViewData["Title"] = "ShowCharacter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Character    

<h1>Your Character is @Model.name</h1>
<div>They were born in @Model.birth_year</div>
<div>They were from @Model.homeworld</div>
@*<div>The Species is @Model.species</div>*@

